{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>
    <div>
        <img src="{{ asset('uploads/vehicules/' ~ vehicule.photo) }}" alt="Photo du véhicule" />    
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>PrixJournalier</th>
                <td>{{ vehicule.prixJournalier }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ vehicule.statut }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vehicule.description }}</td>
            </tr>
            <tr>
                <th>NoteMoyenne</th>
                <td>{{ vehicule.noteMoyenne }}</td>
            </tr>
            <tr>
                <th>DateAjout</th>
                <td>{{ vehicule.dateAjout ? vehicule.dateAjout|date('Y-m-d') : '' }}</td>
            </tr>
            <th>Commentaires</th>
            {% for commentaire in commentaires %}
                <td>{{ commentaire.message }}</td>
                <hr>
            {% else %}
                <td>Aucun commentaire pour ce véhicule.</td >
            {% endfor %}
            <tr>
            <th>Nombre de réservations</th>
                <td>{{ vehicule.nombreReservations() }}</td>
            </tr>
        </tbody>
        <td>
        {% if app.user and vehicule.favoris.contains(app.user) %}
            <a href="{{ path('app_vehicule_remove_favori', {'id': vehicule.id}) }}" class="btn btn-danger">Retirer des favoris</a>
        {% else %}
            <a href="{{ path('app_vehicule_add_favori', {'id': vehicule.id}) }}" class="btn btn-success">Ajouter aux favoris</a>
        {% endif %}
        </td>
    </table>

    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}

    <a href="{{ path('app_vehicule_index') }}">back to list</a>
    

{% endblock %}
